@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
body {
  font-family: 'Gothic A1', sans-serif;
}

* {
box-sizing: border-box;
}
/* Create two columns/boxes that floats next to each other */

.toppic {
  position: relative; 
  max-width: 100%; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.toppic .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 100%; /* Full width */
  padding: 15px; /* Some padding */
}

nav.nav-left {
  float: left;
  width: 20%;
  padding-left: 30px;
  background: none; 
}

article {
  float: left;
  width: 80%;
}

section#sec {
  padding: 0px;
}

/* Clear floats after the columns */
section#sec:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #5bc0af;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*header*/
span#findclass {
	padding-left: 560px;
	color: #fff;
	font-size: 70px;
	font-weight: bold;
}

.search-container {
	width: 500px;
}

.searchbt {
	background-color: #5bc0af !important;
	border-style: none;
}

.searchbt:hover {
	background-color: #e57f7d !important;
}

span#searchtype {
  padding-left: 410px;
  font-size: 13px;
  color: #fff;
}

.show {
	display: flex;
	/*justify-content: flex-end;*/
}


/*filter Nav*/
.sidenav {
  height: 100%;
  width: 230px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.zippin {
	display: flex;
	flex-direction: row;
}

.example {
  color: grey;
  font-size: 14px;
}

.selectsearch {
  padding-left: 15px;
}

ul#tick1, #tickk1, #tickkk1 {
  list-style: none;
  text-align: left;
}

h5.fil {
	padding-bottom: 10px;
}

.p1 {
  font-size: 15px;
  font-weight: 550;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

/*classes*/
.fill-div {
  color: black;
  
}
.fill-div:hover {
  color: black;
  text-decoration: none;
}

.icon {
  color: #5bc0af;
}

.icon1 {
  color: #e57f7d;
}

span.a {
  float: left;
  font-size: 13px;
}

.classm {
  background-color: #e79746 !important;
  border-style: none;
  width: 40%;
  height: 40px;
  border-radius: 7.5px;
}
.classm:hover {
  background-color: #e57f7d !important;
}

.moreclass{
  display: flex;
  justify-content: center;
}

a.readmore {
  color: #ffffff;
  text-decoration: none;
}

/*----------id----------*/
#tick1, #tickk1, #tickkk1 {
	display: none;
}

/*div*/
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 5px 10px rgba(0,0,0,.2);}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}

@media only screen and (max-width:1200px){.product-grid6 .rating{margin:0}
}

.irs--round .irs-bar {
  background-color: #e57f7d;
}
.irs--round .irs-handle {
  border: 4px solid #e57f7d;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
  background-color: #7bbfe6;
}

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {border-top-color: #7bbfe6;}
