body {
	text-align: center;
}
header {
	height: 80px;
	width: 100%;
	padding-top: 15px;
	padding-right: 30px;
	background: linear-gradient(-90deg, #7bbfe6, #5bc0af);
	color: white;
	text-align: right;
}
header > a {
	color: white;
	padding-right: 10px;
	padding-left: 10px;
}
header > a:hover {
	color: #e57f7d;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
}

img.home{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	margin-left: 20px;
	border: 2px solid #e57f7d;
	border-style: outset;
}
img.home:hover{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	margin-left: 20px;
	border: 2px solid #e57f7d;
	border-style: inset;
}
img#logo {
	margin-top: 110px;
	margin-bottom: 145px;
	width: 500px;
	height: 500px;
	border-radius: 50%;
}
div#tapfindAclass{
	height: 700px;
}
div#tapbeOurCoach{
	padding-top: 10px;
	height: 500px;
	background-color: #f4f4f5;
}
div#tapsteamBlog{
	/*height: 700px;*/
}
a.h1{
	color: #5bc0af;
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 45px;
	text-decoration: none;
}
a.plus {
	margin-left: 900px;
	color: #5bc0af;
}
h1 {
	color: #5bc0af;
	margin-top: 15px;
}
.subbt {
	background-color: #5bc0af !important;
	border-style: none;
}
.subbt:hover {
	background-color: #e57f7d !important;
}

.apply{
	margin-bottom: 50px;
	font-size: 30px;
	width: 300px;
	border-radius: 50px;
	background-color: #e79746;
	color: #faeaab;
}
.apply:hover{
	margin-bottom: 50px;
	font-size: 30px;
	width: 300px;
	border-radius: 50px;
	background-color: #e57f7d;
	color: white;
}
/*div.input-group{
	display: flex;
	justify-content: center; 
}*/

/*----------------footer---------------*/
footer{
	bottom: 0px;
	position: absolute;
	width: 100%;
	z-index: 10;
}
div.footer {

	position: fixed;
/*	background-color: black;*/
	width: 100%;
	z-index: 10;
	bottom: 0px;
	left: 0px;
	text-align: right;
}
/*----------------boom-----------------*/



/*classes*/
.fill-div {
  color: black;
  
}
.fill-div:hover {
  color: black;
  text-decoration: none;
}

.icon {
  color: #5bc0af;
}

.icon1 {
  color: #e57f7d;
}

span.a {
  float: left;
  font-size: 13px;
}

.classm {
  background-color: #5bc0af !important;
  border-style: none;
  width: 40%;
  height: 40px;
}
.classm:hover {
  background-color: #e57f7d !important;
}

.moreclass{
  display: flex;
  justify-content: center;
}

/*----------id----------*/
#tick1, #tickk1, #tickkk1 {
	display: none;
}

/*div*/
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px #e57f7d} /*pinkkkkkk*/
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#000}
.product-grid6 .title a:hover{color:#fff}
.product-grid6 .price{font-size:18px;font-weight:600;color:#2e86de}
.product-grid6 .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}

@media only screen and (max-width:1200px){.product-grid6 .rating{margin:0}
}
/*--------------boom blog----------------*/

div.block {
	/*background-color: #f4f4f5;*/
	border: 5px solid #f4f4f5;
}

h4.blockname {
	text-align: center;
	padding: 20px 0px 0px 20px;
}

a.readmore {
	color: #ffffff;
	text-decoration: none;
	/*display: block;
	text-align: right;*/
}
/*-------------Peary Coach----------------*/
.video {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
	<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 30%;
  height: 80%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: ;
  clear: both;
  display: table;
}
/*-----------------------------------------*/
div.row{
	margin-top: 15px;
	margin-bottom: 15px;
}
.div1 > button.readm{
	background-color: #e79746;
	border: none;
	margin-bottom: 10px;
}
.div1 > button.readm:hover{
	background-color: #e57f7d;
	border: none;
}